@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 24 24 27;
  --card: 255 255 255;
  --border: 228 228 231;
  --muted: 113 113 122;
}

.dark {
  --background: 9 9 11;
  --foreground: 244 244 245;
  --card: 24 24 27;
  --border: 39 39 42;
  --muted: 161 161 170;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}